
config.pickle
*.pyc
*.pyc
__pycache__/func_defs.cpython-35.pyc
config.pickle
test2.ged
*.pyc
*.pyc
*.pyc
*.pyc
__pycache__/func_defs.cpython-35.pyc
__pycache__/census1880.cpython-35.pyc
__pycache__/census1870.cpython-35.pyc
__pycache__/census1860.cpython-35.pyc
__pycache__/census1850.cpython-35.pyc
*.pyc
__pycache__/func_defs.cpython-35.pyc
Word-Lists/surname-wikipedia-fixer.py
test.py
tempsurnames.txt
