*.pyc
test2.ged
Word-Lists/surname-wikipedia-fixer.py
test.py
tempsurnames.txt
Sweden-Household-Surveys/TempBothFirsts.txt
Sweden-Household-Surveys/TempFemaleFirsts.txt
Sweden-Household-Surveys/TempMaleFirsts.txt
Sweden-Household-Surveys/TempOccupations.txt
Sweden-Household-Surveys/TempRelationships.txt
Sweden-Household-Surveys/test.txt
StanekFamily1900census - Copy.csv
myapp.log
testged.ged
1910 Buyers family - Copy.csv
